    /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */

body {
    font-family: "PT Sans", sans-serif;
}

    /* GENERAL */

img {
    max-width: 100%;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

button {
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    font-family: "PT Sans", sans-serif;
    cursor: pointer;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-row > .my-col {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}


/* HEADER */

header {
    background-color:#0084FD;
    color: white;
    padding: 15px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 100;
}

.desktop-menu {
    display: none;
}

.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    display: inline-block;
}

.desktop-menu ul li a {
    display: inline-block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

header button {
    background-color: white;
    font-size: 1.1rem;
    padding: 8px 14px;
}

/* MAIN */

section {
    padding: 50px 0;
}


/* intro */

#intro .card {
    background-color: #B5DDFF;
    border-radius: 12px;
    padding: 10px;
}


#intro .image-container img {
    width: 200px;
    height: 100%;
}

/* section 2 */

#section-2 {
    background-color: #9792E4;
}

#section-2 .container-80 {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

/* section 3 */

#section-3 .card-container {
    background-color: #9792E4;
    border-radius: 30px;
    margin-bottom: 30px;
}

#section-3 .title-section3 {
    text-align: center;
}

#section-3 .circle-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: auto; 
  }

#section-3 .circle-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block; 
  } 

/* section 4 */


/* RESPONSIVE */

/* tablet */


@media screen and (min-width: 576px) {
    
    .my-col.my-col-tablet-1-3 {
        width: calc((100% / 3) - 20px);
    }
    
    .my-col.my-col-tablet-2-3 {
        width: calc(((100% / 3)* 2) - 20px);
    }

    #section-3 .card-container {
        display: flex;
    }

    #section-3 .circle-container {
        margin: 0;
    }
    
    #section-3 .my-col-30 {
        width: 20%;
    }

    #section-3 .my-col-30 {
        width: 80%;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    #section-4 .my-col.my-col-tablet-1-3 {
        width: calc((100% / 2) - 20px);
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    
    .desktop-menu {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
 
    .card-flex {
        display: flex;
    }

    .card-flex .my-col-50 {
        width: 50%;
    }

}

