    /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */

body {
    font-family: "PT Sans", sans-serif;
}

    /* GENERAL */

:root {
    --color-purple: #9792E4;
    --color-blue: #0084FD;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-container {
    max-width: 500px;
    margin: 0 auto;
}

.my-btn {
    background-color: var(--color-purple);
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-row > .my-col {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.circle-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: auto; 
}

.circle-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block; 
}

p {
    line-height: 30px;
}
  

/* HEADER */

header {
    background-color:var(--color-blue);
    color: white;
    padding: 15px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.desktop-menu {
    display: none;
}

.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    display: inline-block;
}

.desktop-menu ul li a {
    display: inline-block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

.desktop-menu ul li:last-child a {
    color: black;
}

.desktop-menu .my-btn {
    background-color: white;
    padding: 8px 16px;
}


/* MAIN */

section {
    padding: 50px 0;
}

/* intro */

#intro .card {
    background-color: #B5DDFF;
    border-radius: 12px;
    padding: 40px 20px;
    overflow: hidden;
}

#intro .card img {
    height: 250px;
    display: block;
}

#intro .card {
    height: 100%;
    text-align: center;
}

#intro .text-left {
    text-align: left;
    margin-bottom: 20px;
}

#intro h2,
#intro p,
#intro button,
#intro i {
    margin-bottom: 20px;
}

#intro .my-btn {
    background-color:var(--color-blue);
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}

#intro p {
    color: #596D7E;
    font-weight: 600;
    margin-bottom: 40px;
}

#intro i,
#intro h2 {
    color: var(--color-blue);
}

#intro i {
    font-size: 5em;
}

#intro .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro .card:first-child {
    padding: 0 20px;
    padding-top: 20px;
}


#intro .my-col-50 .fa-apple {
    font-size: 1rem;
    color: white;
}


/* section 2 */

#section-2 {
    background-color: #9792E4;
    color: white;
}

#section-2 .container-80 {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding: 40px;
    color: black;
}

#section-2 .container-80 p {
    font-style: oblique;
}

#section-2 h2 {
    margin: 20px 0;
}

#section-2 p {
    margin-bottom: 30px;
}

#section-2 .my-btn {
    padding: 8px 12px;
    background-color: #9792E4;
    color: black;
}

/* section 3 */

#section-3 .card-container {
    background-color: #9792E4;
    border-radius: 30px;
    margin-bottom: 30px;
}

#section-3 .title-section3 {
    text-align: center;
    font-size: 1.1rem;
    padding: 0 20px;
    margin-bottom: 40px;
}

#section-3 h2 {
    padding: 20px 0;
    font-size: 2rem;
    color: var(--color-purple)
}

#section-3 .card-container {
    padding: 10px;
}

#section-3 .card-container p {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding-top: 20px;
}

#section-3 .card-container .my-col-70 p:last-of-type {
    font-weight: 600;
    letter-spacing: 2px;
}



/* section 4 */

#section-4 {
    background-color: var(--color-purple);
}

#section-4 .title {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 50px;
}

#section-4 .card {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

#section-4 .card h3 {
    padding: 20px 0;
    font-size: 1.5rem;
    color: var(--color-purple);
}

#section-4 .card h2 {
    font-size: 2.5rem;
    color: var(--color-purple);
}

#section-4 .card p {
    margin-bottom: 35px;
}


#section-4 .card .my-btn{
    font-weight: 600;
    padding:10px 50px;
}

/* section 5 */

#section-5 h2 {
    font-size: 2.5rem;
    color: var(--color-purple);
}

#section-5 p {
    font-size: 1.1rem;
}

#section-5 .my-col-60 p:first-of-type {
    margin: 40px 0;
}

#section-5 .my-col-40 {
    margin: 40px 0;
}

#section-5 .my-col-40 h3 {
    margin: 40px 0;
    font-size: 2rem;
    color: var(--color-purple);
}

#section-5 .circle-container {
    position: relative;
    margin-top: 40px;
    width: 200px; 
    height: 200px;
    overflow: visible;
    margin: 0;
}

#section-5 .circle-container img {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
}

#section-5 .circle-container i {
    position: absolute;
    color: var(--color-purple);
    font-size: 5rem;
    top: -15px;
    right: -15px;
}

#section-5 .my-col-40 i {
    padding: 0 10px;
}

#section-5 .my-col-40 .my-btn {
    padding: 8px 10px;
}

/* FOOTER */

/* footer-top */

footer {
    text-align: center;
    color: white;
}

.footer-top {
    background-color: var(--color-purple);
    padding: 40px 0;
}

.footer-top h3 {
    font-size: 2rem;
    padding: 20px 0;
}

.footer-top h2 {
    font-size: 5rem;
    color: #FDC15F;
}

.footer-top p {
    padding: 40px 0;
}

.footer-top .my-btn {
    background-color: white;
    color: var(--color-purple);
    padding: 20px 80px;
}

/* footer-bottom */

.footer-bottom {
    background-color: #333333;
    font-size: 0.90rem;
}

.footer-bottom .footer-container p:first-of-type {
    padding: 40px 0;
}

.footer-bottom .footer-container p:last-of-type {
    padding: 40px 0;
}

/* RESPONSIVE */

/* tablet */


@media screen and (min-width: 576px) {
    
    .my-col.my-col-tablet-1-3 {
        width: calc((100% / 3) - 20px);
    }
    
    .my-col.my-col-tablet-2-3 {
        width: calc(((100% / 3)* 2) - 20px);
    }

    .card-container {
        display: flex;
    }
    
    .my-col-30 {
        width: 30%;
    }

    .my-col-70 {
        width: 70%;
    }

    .my-col-60 {
        width: 60%;
    }

    .my-col-40 {
        width: 40%;
    }

    /* SECTION INTRO */

    
    #intro .image-container {
        display: flex;
        justify-content: flex-start;
    }

    /* SECTION 3 */

    #section-3 .card-container p {
        text-align: left;
        padding-left: 50px;
    }


    #section-3 .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    /* SECTION 5 */

    #section-5 .my-col-60 {
        padding-right: 50px;
    }

    /* FOOTER */

    .footer-top {

    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {

    #section-4 .my-col.my-col-tablet-1-3 {
        width: calc((100% / 2) - 20px);
    }

}

/* desktop */
@media screen and (min-width: 992px) {
    
    .desktop-menu {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
 
    .card-flex {
        display: flex;
    }

    .my-col-50 {
        width: 50%;
    }

    /* SECTION INTRO */

    #intro .card-flex .image-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

     /* SECTION 2 */

    #section-2 .container {
        padding-left: 100px;
        padding-right: 100px;
    } 

    #section-2 .my-col-50 > div:has(h2 + p):first-of-type {
        margin-top: 200px;
    }

    /* SECTION 3 */

    #section-3 .title-section3 h2 {
        font-size: 3rem;
    }

    /* SECTION 4 */

    #section-4 .title h2 {
        font-size: 3rem;
    }

    /* SECTION 5 */

    #section-5 h2 {
        font-size: 5rem;
    }

    #section-5 .my-col-40 {
        width: 25%;
    }
    
}

